h1 {
    font-size: 2.0em;
    margin: 20px 0 0 0;
    font-weight: 400;   
}
h3 { 
	color: blue;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    font-size:17px;
    padding: 5px 10px;
}
input {
    width: 225px;
    margin: 8px 0;
	background-color: #dfdfdf;
	font-size:17px;
}
input[type="checkbox"] {
    width: 20px;
}
button {
    background-color: #008CBA;
	color: white;
}
.error{
    color: red;
    font-size: 20px;
}
.success{
    color: green;
    font-size: 20px;
}
.paddr-10{
    padding-right: 10px;
}
.padd-r-0{
    padding-right: 0;
}
.paddr-20{
    padding-right: 20px;
}
.paddtb-20{
    padding:20px 15px;
}
.paddb-20{
    padding-bottom: 20px;
}
.paddtb-10{
    padding:10px 15px;
}
.mar-l-20{
    margin-left: 20px;
}
.mar-r-20{
    margin-right: 20px;
}
table.dataTable.hover tbody>tr.selected:hover, 
.selected{background-color:#B0BED9}