<div class="container-fluid">
<div class="col-lg-12">
<h1>Angular Application</h1>
</div>
<!-- Button to Open the Modal -->
<div class="col-lg-12 paddtb-20">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="showModal()">
    Add Employee
  </button>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="employeeForm" (ngSubmit)="onEmployeeFormSubmit()">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" (click)="hideModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <ng-template #create>
          <h3> Add New Empolyee </h3>
        </ng-template>
        <h3 *ngIf="employeeIdToUpdate; else create">
          Update Employee for Id: {{employeeIdToUpdate}}
        </h3>
          <div class="row">
              <div class="col-lg-12">
                  <label for="firstName" class="col-lg-4 col-form-label">First Name</label>
                  <input formControlName="firstName">
                <div *ngIf="processValidation && f.firstName.errors" class="error">
                  <div class="col-lg-9 text-right padd-r-0" *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <label for="lastName" class="col-lg-4 col-form-label">Last Name</label>
                <input formControlName="lastName" />
                <div *ngIf="processValidation && f.lastName.errors" class="error">
                  <div class="col-lg-9 text-right padd-r-0" *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <label for="age" class="col-lg-4 col-form-label">Age</label>
              <input type="number" formControlName="age" />
              <div *ngIf="processValidation && f.age.errors" class="error">
                <div class="col-lg-8 text-right paddr-20" *ngIf="f.age.errors.required">Age is required</div>
                <div class="col-lg-8 text-right paddr-20" *ngIf="f.age.errors.max">Age should be between 0 to 110</div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <label for="email" class="col-lg-4 col-form-label">Email</label>
            <input formControlName="email">
            <div *ngIf="processValidation && f.email.errors" class="error">
              <div class="col-lg-8 text-right paddr-10" *ngIf="f.email.errors.required">Email is required</div>
              <div class="col-lg-12 text-right padd-r-0" *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
    </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button *ngIf="!employeeIdToUpdate">Add Employee</button>
          <button *ngIf="employeeIdToUpdate">UPDATE Employee</button>
          <button (click)="backToCreateEmployee()" *ngIf="employeeIdToUpdate">Go Back</button>
        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div>
  <div class="col-xs-12 paddtb-10" *ngIf="statusCode; else processing">
    <div *ngIf="statusCode === 201" class="success">
      Employee added successfully.
    </div>
    <div *ngIf="statusCode === 200" class="success">
      Employee updated successfully.
    </div>
    <div *ngIf="statusCode === 204" class="success">
      Employee deleted successfully.
    </div>
    <div *ngIf="statusCode === 500" class="error">
      Internal Server Error.
    </div>
  </div>
  <ng-template #processing>
    <img *ngIf="requestProcessing" src="assets/images/loading.gif">
  </ng-template>
</div>
<div class="col-xs-12 paddb-20 mar-l-20">
<h3>Employee Details</h3>
</div>
<table class="mar-l-20">
  <tr>
    <th></th>
    <th> Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let employee of allEmployees; let i=index;" [class.selected]="employee.active === true">
    <td><input [checked]="employee.checked" type="checkbox" 
      (click)="selectEmployee($event, employee);" /></td>
    <td>{{employee.id}}</td>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.age}}</td>
    <td>{{employee.email}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="loadEmployeeToEdit(employee.id)">Edit</button>
    </td>
    <td>
      <button type="button" class="btn btn-primary" (click)="showDeleteModal(employee.id)" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </td>
  </tr>
</table>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body"> 
        <div class="col-xs-12 text-center">
          Are you sure you want to delete row? 
        </div>
        <div class="col-xs-12 text-center paddtb-20">
          <span class="mar-r-20"><button type="button" class="btn btn-secondary" (click)="deleteEmpployee()">Confirm</button></span>
          <span><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></span>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>